## **Dictionary**
- 영어 사전
- 형태
    - 단어: 뜻
    - 키: 값
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
- 특징
    - 순서가 없다. -> 인덱싱 불가능
    - 가변: 수정, 삭제, 추가 가능
- 타입: dict
- 형변환 : `dict()`
- 중괄호 사용 {}, 콤마로 구분
- 값에 다양한 자료구조가 올 수 있음.
    - a: 1, a:[1,2,3,4] (이렇게 리스트 형태도 올 수 있다)

In [1]:
a = [1, 2, 3]
a[0]

1

In [6]:
empty = dict()
empty = {}
#set {}
empty = {} # dict type
empty = set()
type(empty)

set

In [4]:
a = {1,2,3} #같은 중괄호지만 값이 없으면 set
a = {1:'apple', 2:'banana', 3:'kiwi'} #값이 있으면 dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [5]:
b = {'': '', '':'', '':''}
b = dict(apple='a', banana='b', kiwi='c') # 따옴표 적기 번거로울 때 사용 가능한 방법
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

#### **Quiz. 출석부 딕셔너리 만들기**
- 출력 형태
    - 이름, 학번, 학과<br>
    - james 202201 경제학과<br>
    - laura 202203 스페인어과<br>
    - louis 202202 컴공과<br>
    - 이름으로 키 잡으면 안됨(동명이인 가능성. 키는 중복 불가. 학번을 키로 잡는 것이 좋음.)<br>

In [8]:
attendance = {202201: ['james', '경제학과'], 202202: ['louis', '컴공과'], 202203: ['laura', '스페인어과']}
attendance

{202201: ['james', '경제학과'],
 202202: ['louis', '컴공과'],
 202203: ['laura', '스페인어과']}

In [94]:
{202201: ['james', '경제학과'], 202202: ['louis', '컴공과']}

{202201: ['james', '경제학과'], 202202: ['louis', '컴공과']}

## **Dict 형 변환**
- 페어가 있을 때 형 변환 간단하게 가능 : dict() 사용
- 키는 중복되지 않으므로 마지막 값이 반영된다.
- 문자열 두 자리까지만 순회 가능

In [9]:
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1) #형 변환 간단하게 가능

{1: 2, 2: 3, 3: 4}

In [18]:
ex2 = [(1, 2), (2, 3), (1, 3)]
dict(ex2) # 키는 중복되지 않으므로 마지막 값이 반영된다.

{1: 3, 2: 3}

In [20]:
ex3 = ['ab', 'bc', 'cd'] #문자열 두 자리까지만 순회 가능
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

## **Dict 항목 조회 & 변경**
- `딕셔너리명[키] = 값` 형식으로 작성
- 키로 찾아서 변경/추가/반환 가능
- 키값이 없으면 에러가 난다.
    - 에러 예방: `'키' in 딕셔너리`로 있는지 찾고 하는 것
    - .get() 사용: 있으면 반환, 없으면 반환값 설정해주기

In [19]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Pallin': 'Michael'
}

In [20]:
pythons['Idle'] #칮기

'Eric'

In [21]:
pythons['Idle'] = 'James' #변경

In [22]:
pythons['Hwa'] = 'Chloe' # 추가

In [23]:
# 예외 없이
'Hwa' in pythons

True

In [24]:
#get()
pythons.get('Lee', 0) # 없는 키는 None 반환, 반환값 설정도 가능

0

 ## **딕셔너리 전체 조회**
 - keys() : 키만 조회
 - values() : 값만 조회
 - items() : 키와 값이 튜플 형태로 조회됨. -> 순회할 때 애용<br><br>
 - 출력 결과를 사용하고 싶다면 리스트로 형변환 해줘야 함.

In [25]:
list(pythons.keys()) # 이렇게 리스트로 형변환도 가능

['Chapman', 'Cleese', 'Idle', 'Jones', 'Pallin', 'Hwa']

In [26]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [27]:
pythons.items() # (키, 값) 튜플 형태로 -> 순회할 때 애용됨

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Pallin', 'Michael'), ('Hwa', 'Chloe')])

In [28]:
for k, v in pythons.items():#list comprehension도 사용 가능
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Pallin = Michael
Hwa = Chloe

In [29]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Pallin', 'Michael'),
 ('Hwa', 'Chloe')]

In [30]:
[k[1] for k in pythons.items()]#items를 쓰면 0은 키값, 1은 value가 될 수 있다

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [31]:
[k for k in pythons] #keys 키만 나옴.

['Chapman', 'Cleese', 'Idle', 'Jones', 'Pallin', 'Hwa']

### **Quiz**
- animal: num_leg 딕셔너리 만들기

In [35]:
animal = 'cat snake monkey ant spider'.split()
legs = 4,0,2,4,8
num_leg = {'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [36]:
for k, v in num_leg.items():#list comprehension
    print(f'{k} = {v}')

cat = 4
snake = 0
monkey = 2
ant = 4
spider = 8

In [37]:
num_leg = {}
for k in animal:
    for v in legs:
        num_leg[k] = [v]
num_leg

{'cat': [8], 'snake': [8], 'monkey': [8], 'ant': [8], 'spider': [8]}

### **Quiz**
- pythons에서 성:이름, 성 첫글자만,이름은 글자 개수로 이뤄진 **튜플(성, 이름) 리스트로 반환**하기
- dict comprehension 쓰지 말기
- 풀이 : 순회하고 각 요소를 반환한다.
           [(), ()]

In [66]:
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [68]:
[(key[0], len(value)) for key, value in pythons.items()] # 다른 예쁜 버전

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

## **Dict 추가, 삭제**
- 딕셔너리에 딕셔너리 추가 : `dict이름.update(추가할 것)` (리스트의 extend처럼)
- 딕셔너리 앞쪽에 추가 : (python3에서) `**` 딕셔너리 이름 앞에 붙여주면 됨.
- 삭제
    - `del` : 없는 걸 삭제하려고 하면 예외 발생
    - `.pop(' ', 반환값 설정)` : 지정한 요소 찾고 삭제, 반환값 설정 안 하면 없는 거 찾을 때 예외 발생
- 전체 삭제: `.clear()`

In [39]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Pallin': 'Michael',
 'Hwa': 'Chloe'}

In [40]:
others = {
        'Marx':'Groucho',
        'Howard':'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [41]:
pythons.update(others)

In [42]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Pallin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [43]:
#py 3에서 가능, 딕셔너리 앞에 추가하기
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Pallin': 'Michael',
 'Hwa': 'Chloe'}

In [44]:
#삭제, 없는 걸 삭제하려고 하면 에러 발생
del pythons['Hwa']

In [79]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Pallin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [80]:
pythons.pop('Marx')#값 반환하고 사라지고 없는 값 삭제했을 때의 반환값 설정 가능, but 설정 안 하면 예외 발생은 함.

'Groucho'

In [83]:
pythons.pop('Lee', 0) #get과 다르게 없으면 예외는 안함

0

In [84]:
# 전체 삭제
pythons.clear()
pythons = {}

In [85]:
pythons

{}

## **Dict 복제**
- 할당 : b = a
- 얕은 복사: c = a.copy()
    - 얕은 복사는 2차원 이상일 때 하나의 값을 바꾸면 다 같아진다.
- 깊은 복사
    - `import copy`
    - `copy.deepcopy()`

In [88]:
a = {1:1, 2:2, 3:3}
b =a # b에 a를 할당
a[1]= 45 #a 값 바꾸기
a, b # 같은 주소값 공유하므로 함께 바뀜/

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [89]:
c = a.copy()
a[2] =22
a,c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [91]:
a = {1: [1,2,3], 2:[2,3,4]}
d = a.copy()#2차원 이상일때 얕은 복사는 다 똑같아짐.
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [92]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

## **Dict 비교**
    - **같다, 다르다**만 된다.

In [95]:
a != b

False

## **Quiz**
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기(순회하면서 '성'이 아닌 거 삭제)
4. sorted를 이용해서 값 정렬하기<br>
    i) key 기준<br>
    ii) value 기준

In [48]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sum mercury venus earth mars jupiter saturn uranus neptune'.split()

In [50]:
kor_eng = {}
for i in range(len(solar_kor)):
    kor_eng[solar_kor[i]] = solar_eng[i]
#kor_eng
for planet in list(kor_eng.keys()):
    if not planet.endswith('성'):
        del kor_eng[planet]
        
kor_eng

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [51]:
#풀이
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system

{'태양': 'sum',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [54]:
dict([(k, system[k]) for k in system if k.endswith('성')]) #리스트는 따로 설정 안 해도 키값을 기준으로 돈다.

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [55]:
dict([(k, v) for k, v in system.items() if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

## **딕셔너리 컴프리헨션**

In [121]:
letter = 'apple'
#a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

## **Quiz**
- 단어의 모음 세기
- word 순회
- vowels 순회

In [57]:
vowels = 'aeiou'
word = 'onomatopoeia'

In [58]:
{vowel: word.count(vowel) for vowel in vowels}

{'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}

In [62]:
{w: word.count(w) for w in set(word) if w in vowels} # 중복 제거해주기

{'o': 4, 'e': 1, 'a': 2, 'i': 1}

## **딕셔너리 sorting**

In [63]:
system

{'태양': 'sum',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [65]:
sorted(system) # 키만 나옴, 딕셔너리에는 순서가 없으므로 오름차순/내림차순으로 정렬해줌.

['금성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [72]:
def fx(x): # 이렇게 너무 간단한 함수는 람다함수 사용하면 좋다.
    return x[1]

In [71]:
sorted(system.items(), key = fx) # 키랑 값 모든 걸 정렬, 키나 값에 대한 조건 따로 걸어주고 싶을 때 설정.

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('토성', 'saturn'),
 ('태양', 'sum'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

#### **람다 함수**
- 익명 함수
- lambda

In [74]:
#람다 함수 사용 예시
sorted(system.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sum'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

## **Set**
- "중복이 없다"
- 집합 -> 교집합, 합집합, 차집합, ...
- bag, 인덱싱 없음.
- 추가 : `add()`
- 삭제 : `remove()`

In [125]:
empty = set()
empty

set()

In [126]:
a = {1, 2, 3}
a

{1, 2, 3}

In [75]:
a = set((1, 2, 3)) # set(1, 2, 3)은 안에가 sequence이기 때문에 묶어줘야 함. 튜플이나 리스트로.
# 선언, 형 변환과 동일 개념. 중복이 없다.
a

{1, 2, 3}

In [130]:
# 추가
a.add(3)
a

{1, 2, 3}

In [131]:
a.add(4)
a

{1, 2, 3, 4}

In [132]:
#삭제
a.remove(4)
a

{1, 2, 3}

## **Quiz**
- vodka 포함된 술 출력하기
- vodka는 있지만 cream, vermouth 없는 술 출력하기

In [77]:
#멤버십 연산자
drinks = {
    'martini': {'vodka','vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodkha'},
    'manhattan': {'rye','vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}

In [78]:
vodka_drink = set()
for drink in drinks:
    if 'vodka' in drink:
        vodka_drink.add(drink)
vodka_drink

set()

## **집합**
1. 교집합 | intersection
- `a.intersection(b)`
- a & b

2. 합집합 | union
- `a.union(b)`
- a | b

3. 차집합 | difference
- `a.difference(b)`
- a - b, b - a

In [80]:
#풀이 1
#1
for k,v in drinks.items():
    if'vodka' in v:
        print(k)
#2      
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

martini
black russian
screwdriver
black russian
screwdriver

In [89]:
# set을 활용해서 바꾸기
for k,v in drinks.items():
    #if v & {'vodka'} and not v & {'cream', 'vermouth'}:
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
       print(k)

black russian
screwdriver

## **set 컴프리헨션**

In [90]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

## **frozenset**
- 가변객체 => 불변객체로!

In [91]:
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

In [81]:
a = {1, 2, 3}
b = {2, 3, 4}

### [과제]Project
- 디버깅 툴
- 테스크 해결
- 수업 30분 랜덤 코드 설명 => 성의 없거나 못하거나 그러면 점수 0
- 제출: 수요일 자정까지

In [ ]:
디버깅 코드
!pip install pylint
!pylint example.py

!pip install pydocstyle
!pydocstyle example.py