# Ch.02 Variables 변수

### **종류**
- **string** 문자열
- **float** 실수
- **integer** 정수
- **boolean** 불

### **할당**
- **여러 이름을 동시에 할당**할 수 있다.<br>
ex) two = deux = dos = 2

- 할당 순서는 **오른쪽부터**<br>
위의 예시에서는 dos -> deux -> two 순으로

#### **가변 객체/불변 객체**
- **객체의 특성 세 가지**<br>
    **1. value 값**<br>
        :메모리에 기록된 내용. 불변 객체는 값을 바꿀 수 없다.
   **2. type 유형**<br>
    **3. identity 정체성**<br>
        :id() 함수로 알 수 있음.<br>
        id란 : **변수는 공간**이므로 컴퓨터에 그 공간이 위치하는 **메모리 주소**가 있는데, 그걸 id로 찾는다.
- integer : 가변 객체
- string : 불변 객체

### **좋은 변수명이란** ###

**1. 간결하게** <br>
**2. 명확한 의미가 담겨야 함**<br>
    *코드에는 의미가 담기고 주석에는 의도가 담긴다.* <br>
    (코드를 보고 의미가 바로 이해될 수 있게) <br>
예: n <the_number_of_students < num_students 순으로 좋다. <br>
*카멜기법: numStudents(주로 자바에서 사용, 파이썬은 언더바 선호)*<br>
**특별한 경우가 아니면 대문자 지양**

### **자료형 변환**
- 형식 : **(어떤 자료형으로 변환하려는지)(<변환할 값>)**<br>
    ex) int(), float(), bool()<br>
    -bool은 어떤 경우에 False인지 위주로 기억할 것.

#### **<font color=red>!유의사항**</font>
**1. float -> int**<br>
    정수형을 바뀌기 때문에 소수점 아래는 값이 사라진다. 따라서 연산 결과도 달라질 수 있으니 조심!<br>
**2. str -> int/float**<br>
    float으로 형변환할 것으로 예상했던 문자열을 int로 바꾸려고 하면 에러 발생.

### **input() 함수**

- 사용자 입력값을 console에서 받는 함수
- 입력값은 **string**으로 인식
- 입력값을 변수에 담지 않으면 사라짐.
    - **입력값 변수에 할당하는 방법**<br>
        1. 변수명 = input(<출력하고 싶은 문장>)<br>
        ex) age = input('나이가 어떻게 되세요?')<br>
        2. print(<출력하고 싶은 문장>)<br>
           변수명 = input()<br>
        ex) print("나이가?")<br>
            age = input()<br>
- 숫자로 입력해도 string으로 변환해서 인식
- 입력값 형변환 가능<br>
예 : int(input('나이가 어떻게 되나요?'))

### **print() 함수 관련 꿀팁!**

##### 1. print('a' + 'b' + 'c') : 공백없이 'abc'출력(끝에 \n)
##### 2. print('a', 'b', 'c') : 공백 구분자로 'a b c' 출력(끝에 \n)

In [7]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space X, \n 존재
print(dog, cat, lion) # space O, \n 존재

dogcatlion
dog cat lion

##### 3. 기본값은 공백 구분자에 끝에 \n 들어간 형태
##### 4. sep 구분자, end 끝에 무언가 추가 가능

In [13]:
print(dog, cat, lion, sep=' ', end='\n') #default
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

##### 5. print("출력할 문자열", 변수명, '마지막에 넣을 문자')
##### 6. print(f"출력할 문자열 {변수명}.") -> 훨씬 편리!

In [14]:
print("My favorite animal is", dog,'.')

print(f"My favorite animal is {dog}.")

My favorite animal is dog .
My favorite animal is dog.

##### 7. 코드 줄이 짧으면 세미콜론(;) 이용해서 한 줄로 할당 가능

In [16]:
dog = 'dog'; cat = 'cat'; lion = 'lion';
print(dog)

dog

# Quiz

## 1.
##### **섭씨를 입력 받아 화씨로 변환하기**
##### **섭씨 * 1.8 + 32 = 화씨**

In [22]:
#내 답안
celsius = float(input("섭씨를 입력하세요."))
fahrenheit = celsius * 1.8 + 32
print(f"섭씨 {celsius}는 화씨 {fahrenheit}입니다.") #변수명은 특별한 경우가 아니면 대문자 지양

섭씨를 입력하세요. 36.5

섭씨 36.5는 화씨 97.7입니다.

## 2.
#### **- 택배 정보 입력 받고, 총 합계 계산하기**
- **출력값:**
    - "==택배 정보=="
    -수취인 성명: <이름>
    -수취인 주소: <주소>
    -배송비: 3000원
    -물건 비용: <가격>원
    -총 합계: <가격>원
- **물건 비용 = 무게(g) * 5**
- **합계 = 배송비 + 물건 비용**

In [24]:
#내 답안
name = input("수취인 성명 : ")
address = input("수취인 주소 : ")
weight = float(input("물건 무게(g) : "))
price = int(weight * 5)
total = int(3000 + price) #배송비를 변수로 설정했다면 이해하기 더 좋았을 것

print("=====택배 정보=====")
print(f"수취인 성명: {name}")
print(f"수취인 주소: {address}")
print("배송비: 3000원")
print(f"물건 비용: {price}원")
print(f"총 합계: {total}원")

수취인 성명 :  유지민
수취인 주소 :  이문동
물건 무게(g) :  3500

=====택배 정보=====
수취인 성명: 유지민
수취인 주소: 이문동
배송비: 3000원
물건 비용: 17500원
총 합계: 20500원

#  Chapter 03. Numbers

## 1. boolean

- **False인 경우:'', None, 0, ..(비어있는 값이나 0 등)**
- **조건식**에서 많이 쓰임.<br>
    ex) 만약 이 조건이 True라면, ...

In [26]:
bool(1)

True

In [27]:
bool('')

False

## 2. integer

- 소수점이 없다.
- default 양수(음수는 - 붙여줌)
- 십진수인 경우 숫자 앞에 0을 붙일 수 없다.
- 다른 진수인 경우에는 가능한 경우도 있음.<br>
    예: 0bxxx
- 숫자는 공백 무시
- 숫자 사이 ','는 언더바 사용하기<br>
    예: 10,000원 (X)(-> 10, 000 두 개로 인식)
        10_000원 (O)

In [29]:
a = 05

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_15752/1106146124.py, line 1)

In [31]:
a = 35_000
print(a)

35000

## 3. 연산

##### **1) 연산자(operator): +, -, ...**<br>


##### **복합 대입 연산자(compound assignmnet operator)**: +=, -=, *=, /=
**(!값 초기화한 후에 사용 가능)**
#####     <code> a = a - 3</code>
#####     (1) a -3 계산
#####      (2) 임시변수 temp = a - 3
#####      (3) a = a - 3
#####      <code>a -= 3</code>
##### 예: a-= 3 은 a = a - 3과 동일<br><br>


##### **비교 연산자:**
##### x < y, x <= y
##### x > y, x >= y
##### x == y (값)
##### x != y (값)
##### x is y (값, 메모리주소까지 같아야 한다.)
##### x is not y<br><br>

##### **논리 연산자: 여러 조건식 비교할 때**
##### 예 : 10 < x < 20
##### 파이썬에서만 가능한 표현
(원래는 x > 10 와 x < 20로 표현)
##### and, & : 둘 다 참일 때 True
##### or, | : 둘 중 하나만 참이어도 True
##### not : 참 -> False, 거짓 -> True를 반환<br><br>

##### **2) 피연산자(operand)**: 4, 5, ...
##### **3) 수식(expression)**
- 덧셈 : x + y
- 뺄셈 : x - y
-곱셈 : x * y
-나눗셈 : x / y
    - **유의사항!**
        1) 0으로 나눌 수 없음
        2) x // y : 나눗셈 한 몫<br>
           x % y : 나눗셈 한 나머지
- 거듭제곱(exponential) : x ** y
- divmod(x, y) : 몫과 나머지를 표현

In [65]:
x = 4
y = 9

x ** y

262144

In [36]:
x // y, x % y, x / y

(0, 4, 0.4444444444444444)

In [37]:
divmod(x, y)

(0, 4)

In [39]:
#복합연산자에서 초기화 필요!
u = u + 1

NameError: name 'u' is not defined

In [40]:
u = 1
u = u + 1

In [41]:
u

2

## 4. 지수 표현
- e/E 사용
- 앞부분 float/int + 뒷부분 int
- 양수: 0 앞으로
- 음수: 0 뒤로(소수점)
- 0을 안 세도 되게 편하라고 지수 표현을 사용함.

In [42]:
1.0e6

1000000.0

#### mini quiz. 
- 0.000789를 지수로 표현하기

In [50]:
7.89e-4
789e-6

0.000789

# Quiz

## 1.
##### **정수를 입력 받고 3의 배수인지 확인하세요.**
##### **= 홀수인지 확인하세요.**

In [51]:
#내 답안
input_value = int(input("정수를 입력하세요."))
multiple_3 = bool(input_value % 3)
odd_num = bool(input_value % 2)

print(f"{input_value}는 3의 배수가 아닙니까? {multiple_3}")
print(f"{input_value}는 홀수입니까? {odd_num}")

정수를 입력하세요. 30

30는 3의 배수가 아닙니까? False
30는 홀수입니까? False

## **코드 짤 때 참고사항**
### 1. 주석 사용법
   - 주석의 사용 목적: 의사소통.(의도 표현)
   - 코드에 대한 설명
   - '#' hash, sharp, ... : hash ~ 라인 끝까지 주석
      - 문자열 안 # 는 문자열로 인식
   - """ < 주석 > """ : 여러 줄 주석
### 2. 줄 맞추기
  - 들여쓰기 = 공백 4개 = 탭 1개
  - 한 줄 최대 80자 이하로 유지
   - 길어지면 가독성을 위해 \로 끊어준다.

In [53]:
example = 'hey ###'
example

'hey ###'

# **if 조건문**

#### **1. 조건 1개**
##### **<code>if <조건식>: <실행할 코드></code>**

In [55]:
if 4 != 9:
    print('Yaay!')

Yaay!

#### **2. 조건 2개**
##### **<code>if <조건식1>:</code>**
#####   <실행할 코드>
#####    <code>**else:**</code>
#####    <실행할 코드>

In [64]:
if 4 == 9:
    print('Yaay!')
else:
    print('Hey!')

Hey!

#### **조건 3개 이상**
##### **<code>if <조건식1>:</code>**
#####  <실행할 코드>
##### **<code>elif <조건식2>:</code>**
#####  <실행할 코드2>
#####    <code>**...else:**</code>
##### <실행할 코드3>

# Quiz

## 1.
##### **학점 부여하기**
- 학점을 입력 받아서<br><br>
    90점 이상이면 A<br>
    80 B<br>
    70 C<br>
    그외 D<br><br>
- 변수 설정 유의
- print 예쁘게 하기

In [66]:
#내 답안
score = float(input("점수를 입력하세요"))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
    
print(f"학점은 {grade}입니다.") #print랑 if 분리해서 정리해놓는 건 좋음

점수를 입력하세요 85

학점은 B입니다.

## 2.
##### **아이디와 비번 입력 받아서 둘 다 일치하면 로그인하기**
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [67]:
#내 답안
real_id = "hello"
real_password = "hi"
input_id = input("아이디를 입력하세요.")
input_password = input("비밀번호를 입력하세요.")

if real_id != input_id:
    print("로그인 실패! 다시 시도하세요.")
elif real_password != input_password:
    print("로그인 실패! 다시 시도하세요.")
else:
    print("로그인 성공!")

아이디를 입력하세요. hel
비밀번호를 입력하세요. hi

로그인 실패! 다시 시도하세요.

## 3.
##### **quiz 1 확장판**
##### **결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로**

In [79]:
#내 답안
score = float(input("점수를 입력하세요"))
absence = int(input("결석 횟수를 입력하세요."))

if score >= 90:
    if absence < 2:
        grade = 'A'
    else:
        grade = 'F'
elif score >= 80:
    if absence < 2:
        grade = 'B'
    else:
        grade = 'F'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
    
print(f"학점은 {grade}입니다.")

점수를 입력하세요 90
결석 횟수를 입력하세요. 2

학점은 F입니다.